<h3>Youtube videos</h3>

{{#each items}}
  <li>
    <a href="https://youtube.com/watch?v={{id.videoId}}">{{snippet.title}}</a>
    <a href="https://youtube.com/watch?v={{id.videoId}}">
      <img src="{{snippet.thumbnails.default.url}}"
        height="{{snippet.thumbnails.default.height}}"
        width="{{snippet.thumbnails.default.width}}">
    </a>
  </li>
{{/each}}
